<!doctype html>
<html lang="ja" ng-app>
<head>
	<meta charset="UTF-8">
	<title>AngulerJSのTODOアプリ</title>
	<style>
	.done-true{
		color:gray;
		text-decoration: line-through;
	}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="js/myscript.js"></script>
</head>
<body>
	<h1>Todo list</h1>
	<div ng-controller="mainCtrl">
	<p>Finished Task : {{getDoneCount()}} / {{tasks.length}}</p>
	<button ng-click="deleteDone()">Delete Finished</button>
		<ul>
			<!--mainCtrlのモデルtasksをリピート表示-->
			<li ng-repeat="task in tasks">
				<input type="checkbox" ng-model="task.done">
				<span class="done-{{task.done}}">{{task.body}}</span>
				<!--
					個別のタスクを削除する : spliceメソッドで、tasks配列から削除する
					配列の順番は$indexにて調べることができる。
				-->
				<a href ng-click="tasks.splice($index,1)">[X]</a>
			</li>
		</ul>
		<!--mainCtrlのメソッドaddNew()メソッドを実行-->
		<form ng-submit="addNew()">
			<input type="text" ng-model="newTaskBody">
			<input type="submit" value="add">
		</form>
	</div>
</body>
</html>